@tailwind base;
@tailwind components;
@tailwind utilities;

/* by default font family Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Color Palettes */

@layer base {
    :root{
        --body--BG: #fffbfd;
        --white--card: #F9F9F9;
        --common: #6E29E7;
        --primaryRed: #C1101F;
        --commonDeep: #6625df;
        --black: #181818;
        --lightgray: #64748B;
    }
}

.dark-theme{
  --body--BG: #010101 ;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--body--BG);
  transition: all 0.3s ease-in;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
